# Core Packages
numpy
pandas



# Visualization
matplotlib
seaborn


# Utilities
colorama
pytest


traitlets==5.9.0

wordcloud
streamlit


requests
black

streamlit-shadcn-ui  
loguru
contiguity
cronitor
